<template lang="pug">
mu-container
	mu-flex(justify-content="around" align-items="center")
		.row.mt-100
			.col-md-4
				h1
					i.fas.fa-sun.fa-5x
				h1 Mustard and Sesame Oil
				h2.mb-15 Accusing Muse
				mu-button.mr-10(color="primary") Apertado
				mu-button(color="secondary") Ligato
			.col-md-4
				h1
					i.fas.fa-sun.fa-5x
				h1 Mustard and Sesame Oil
				h2.mb-15 Accusing Muse
				mu-button.mr-10(color="primary") Apertado
				mu-button(color="secondary") Ligato
			.col-md-4
				h1
					i.fas.fa-sun.fa-5x
				h1 Mustard and Sesame Oil
				h2.mb-15 Accusing Muse
				mu-button.mr-10(color="primary") Apertado
				mu-button(color="secondary") Ligato

	mu-flex(justify-content="start" align-items="center")
		.row.mt-50.p-10
			.col-md-4
				mu-card(style='width: 350px; max-width: 350px; margin: 0 auto;')
					mu-card-header(title='Gran Bretônio' sub-title='O Sambojano')
						mu-avatar(slot='avatar' color="primary")
							i.fas.fa-sun
					mu-card-media(title='Avatar Control' sub-title='Cyborg Bodies Attack')
						img(src='../assets/images/hindenburger.jpg')
					mu-card-title(title='Hunting and Pecking' sub-title='Language Is a Virus')
					mu-card-text.text-left.
						Φαβθλασ οπορτεατ ρεπρεηενδθντ cθμ ει. Ιν ασσθμ cονγθε δοcενδι qθι, vιξ ετ ιμπετθσ θτροqθε δολορεμ. Ει qθισ αλιqθιπ προδεσσετ vιξ. Qθι ερρορ σεμπερ απειριαν νε, εστ τε λαβορε δοcτθσ νεcεσσιτατιβθσ.		
					mu-card-actions.text-left
						mu-button.mr-5(color="primary" raised) Blue
						mu-button(color="black" raised) Grey

			.col-md-4
				mu-card(style='width: 350px; max-width: 350px; margin: 0 auto;')
					mu-card-header(title='Gran Bretônio' sub-title='O Sambojano')
						mu-avatar(slot='avatar' color="primary")
							i.fas.fa-sun
					mu-card-media(title='Avatar Control' sub-title='Cyborg Bodies Attack')
						img(src='../assets/images/hindenburger.jpg')
					mu-card-title(title='Hunting and Pecking' sub-title='Language Is a Virus')
					mu-card-text.text-left.
						Φαβθλασ οπορτεατ ρεπρεηενδθντ cθμ ει. Ιν ασσθμ cονγθε δοcενδι qθι, vιξ ετ ιμπετθσ θτροqθε δολορεμ. Ει qθισ αλιqθιπ προδεσσετ vιξ. Qθι ερρορ σεμπερ απειριαν νε, εστ τε λαβορε δοcτθσ νεcεσσιτατιβθσ.		
					mu-card-actions.text-left
						mu-button.mr-5(color="primary" raised) Blue
						mu-button(color="black" raised) Grey

			.col-md-4
				mu-card(style='width: 350px; max-width: 350px; margin: 0 auto;')
					mu-card-header(title='Gran Bretônio' sub-title='O Sambojano')
						mu-avatar(slot='avatar' color="primary")
							i.fas.fa-sun
					mu-card-media(title='Avatar Control' sub-title='Cyborg Bodies Attack')
						img(src='../assets/images/hindenburger.jpg')
					mu-card-title(title='Hunting and Pecking' sub-title='Language Is a Virus')
					mu-card-text.text-left.
						Φαβθλασ οπορτεατ ρεπρεηενδθντ cθμ ει. Ιν ασσθμ cονγθε δοcενδι qθι, vιξ ετ ιμπετθσ θτροqθε δολορεμ. Ει qθισ αλιqθιπ προδεσσετ vιξ. Qθι ερρορ σεμπερ απειριαν νε, εστ τε λαβορε δοcτθσ νεcεσσιτατιβθσ.		
					mu-card-actions.text-left
						mu-button.mr-5(color="primary" raised) Blue
						mu-button(color="black" raised) Grey	

</template>

<script>

</script>

<style>

</style>
