<template lang="pug">
#app
  mu-appbar(style='width: 100%; position: fixed' color='primary')
    mu-button(icon slot='left')
      mu-icon(value='menu')
    i.fas.fa-sun.fa-2x.mr-15
    | Engenho Perene 190  

    mu-menu(slot='right')
      mu-button(flat) 
        i.material-icons.md-36.mr-10 local_dining
        | Cardápio
      mu-list(slot='content')
        mu-list-item(button)
          mu-list-item-content
            mu-list-item-title Alimentos
        mu-list-item(button)
          mu-list-item-content
            mu-list-item-title Bebidas
  router-view
</template>

<style lang="scss">
mu-list-item:hover {
  text-decoration: none;
}

#app {
  font-family: "News Cycle", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
